<html>
<head>
  <title></title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-default navbar-fixed-top nav-inicial">
    <div class="container">
      <div class="navbar-header">
        <!-- div onde fica o logo e tambem o botao quando diminui a tela -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-hide" href="index.html">Platz
        </a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a class="link" href="index.html">Home</a></li>

          <li><a class="link" href="#">Eventos</a></li>
          <li><a class="link" href="sobre.html">Sobre</a></li>
          
          </ul>

          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown link-login ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <form action="#" method="post" accept-charset="UTF-8">
                  <label for="email-usuario">Email</label>
                  <input type="email" class="form-control" id="email-usuario" placeholder="Email">
                  <label for="senha-usuario">Senha</label>
                  <input type="password" class="form-control" id="senha-usuario" placeholder="Senha">
                  
                  <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </form>
              </li>
              </ul>
            </li>
           

            <li class="link-cadastro" ><a href="cadastro.html">Cadastre-se</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </body>
  </html>